body{
    margin: 0px;
}

.code{
    display: flex;
    flex-direction: column;
    background-color: #7959B8;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 50%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: start;
    border-radius: 20px;

}
.button{
    border-radius: 25px;
    background-color: #A098C1;
    width: 120px;
    height: 70px;
}

h3{
    font-size: 39px;
    margin-bottom: 0px;
}
input{
    width: 80%;
    height:40%;
}
label{
    
    align-self: flex-start;
    margin-left: 35px;
    margin-bottom: 15px;

}
